:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #212121;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: space-between;
  margin: 0;
  padding: 0;
  position: relative;
  max-width: 100vw;
}

header {
  background-color: #262626;
  min-height: 7%;
  min-width: 100vw;
  position: fixed;
  top: 0;
  left: -5;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: firebrick groove 5px;
  box-shadow: inset 3px 2px 6px firebrick;
}

nav a {
  font-weight: 600;
  font-size: 2.5em;
  color: transparent;
  text-decoration: inherit;
  margin: 2em;
  text-shadow: #811818 -15px 0 20px;
  background-image: linear-gradient(
    to right,
    #9e2020 0%,
    #bd2424 30%,
    #141414 51%,
    #bd2424 81%,
    #9e2020 100%
  );
  transition: 0.5s;
  background-size: 200% auto;
  background-clip: text;
}
nav a:hover {
  color: transparent;
  background-position: right center;
  text-shadow: #811818 15px 0 30px, #121212 0 0 10px;
}

main {
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7vh;
  text-shadow: #242424 2px 2px 3px;
}

#home-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.post {
  margin: 2em;
  width: 40vw;
  background-color: #262626;
  border: firebrick solid 3px;
  border-radius: 13px;
  padding: 1em 5em;
  box-shadow: rgb(102, 19, 19) 2px 2px 63px, inset rgb(102, 19, 19) 2px 2px 26px;
}

.end {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.end button {
  border: none;
  background: none;
  width: 1em;
  height: 1em;
}
.end button:hover {
  background: #27272769;
}

footer {
  display: block;
  justify-content: center;
  text-align: center;
  margin-bottom: 10px;
}

#credit {
  margin: 0;
}

footer a {
  color: #bd2424;
  text-decoration: none;
}
